<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--SMS Path Configuration -->
    <add key="SMSSourcePath" value="D:\XML_For_SMS" />
    <add key="SMSProcessPath" value="D:\XML_For_SMS\Processed" />
    <!--Email Path Configuration -->
    <add key="EmailProcessPath" value="D:\XML_For_Email\Processed" />
    <add key="EmailSourcePath" value="D:\XML_For_Email" />
    <add key="EmailResultPath" value="D:\XML_For_Email\EStatement" />
    <add key="LogPath" value="D:\XML_For_Email\Logs" />
    <add key="FIID" value="UBL" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="AdditionalAttachment" value="D:\XML_For_Email\Attachment" />
    <add key="Mail" value="D:\XML_For_Email\Mail" />
  </appSettings>
  <connectionStrings>
    <!--<add name="StatementGenerator.Properties.Settings.EStatenmentConnectionString"
      connectionString="Data Source=BABU-PC\SQL2005;Initial Catalog=EStatenment;Persist Security Info=True;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>